{% extends "root.html" %}

{% block title %}home{% endblock %}

{% block content %}
    <div class="home_container">
      <div class="row row-cols-auto">
          <div class="col">
              <div class="card tool">
                  <div class="card-body">
                    <h5 class="card-title">bppML</h5>
                    <p class="card-text">This program allows you to optimize tree topologies and model parameters and perform a bootstrap analysis. </p>
                    <a href="/bppml" class="btn btn-success runbutton" type="submit">Run</a>
                  </div>
              </div>
        </div>
      </div>
    </div>
{%  endblock %}